<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>

        {{ partial "header.html" . }}
        <section>
                <div class="container">
                  <div class="row">
                    <div class="col mt-5">
                      <legend class="lead text-secondary text-center ">"blog ini berisikan catatan pribadi yang saya pelajari" </legend>
                    </div>
                  </div>
                </div>
      
              </section>
        {{ partial "footer.html" . }}
        {{ partial "js-init.html" . }}
    </body>
</html>